.red {
	color: red;
	font-style:italic;
	text-align: left;
}
.error {
	color:red;
	text-align: left;
}

.small_lower_margin{
	margin-bottom: 5px;
}
.centered{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;

}

.green {
	color: green;
	font-style:italic;
}		
body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
p, ul {
	font-size: 14px;
}
p {
    text-align: left;
    margin-left: 20%;
    }
body {
	background-color: #fff;
	text-align: center;
}
#header {
	margin-bottom: 1em;
}
#main {
	overflow:hidden;
	display:box;
}
#menu {
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0px;
}
#menu ul li{
	padding: 0px;
}
#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}
#menu h2 {
 color: #fff;
 background: #D00000;
 text-transform: uppercase;
 font-weight:bold;
 font-size: 15px;
 width: 100%;
}
#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 0px 12px;

}
#menu a:hover {
	color: #c3241e;
	background: #fff;

}
table.navigation {
	border: 0px;
}

label {
	width:100px;
	float:left;
	margin-left: 5px;
	margin-top: 0px;
}
input {
	height:20px;
}
input, textarea, select {
	border:1px solid #B3B3B3;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;        
}
submit {
	height:25px;
}
div {
	text-align: left;
}
a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
h1 {
	font-family: Helvetica, sans-serif;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}
h2 {
	font-family: Helvetica, sans-serif;
	color: #D00000;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-left: 1%
}
h3 {
	font-family: Helvetica, sans-serif;
	color: #fff;	
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin-left: 2%
}
h4 {
	font-size: 14px;
	line-height: 20px;
}

a {
	text-decoration: underline;
	font-size: 12px;
}
a img {
	border: 0 none;
	vertical-align: middle;
}
tr:nth-child(odd) {
	background-color: #FFFFFF;
}
tr:nth-child(even) {
	background-color: #F7F7F7;
}
a:link {
	color: #c3241e;
}
a:hover {
	color: #c3241e;
}
a:active {
	color: #c3241e;
}
a:visited {
	color: #c3241e;
}
li {
	padding-top: 5px;
	text-align: left;
}
ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
table {
	background: #EEEEEE;
	margin: auto;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 70%;
	font-size:12px;
}
table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}
table td,table th {
	padding: 7px;
	border: 1px solid #CCCCCC;
}
table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	background: #999;
}
table tr:hover td {
  background : #eaf0f4;
}
table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}
table a:link {color: #303030;}
table a:hover { color: #c3241e; }